swagger: "2.0"
info:
  title: "Savood"
  version: "1.0.0"
  description: "denn nur lebendiges food tut gut"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "savood.com"
basePath: "/v2"

tags:
- name: "profile"
  description: "Management of profiles and user representation"
- name: "offering"
  description: "Management of offered food items"
- name: "feed"
  description: "Collection of nearby offerings"
- name: "message"
  description: "Operations about user"
schemes:
- "http"

### PATHS ###
paths:
  /healthcheck:
    get:
      operationId: "healthcheckGet"
      tags:
        - "health"
      summary: "Check Server status"
      produces:
        - "application/json"
      responses:
        '200':
          description: Server is healthy
        '501':
          description: Server is unhealthy
          schema:
            $ref: "#/definitions/ErrorModel"
  /offering:
    post:
      operationId: "offeringPost"
      tags:
      - "offering"
      summary: "Add a new offering"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Offering that needs to be added"
        required: true
        schema:
          $ref: "#/definitions/Offering"
      responses:
        '200':
          description: Object found and returned
          schema:
            $ref: '#/definitions/Offering'
        '404':
          $ref: '#/responses/InvalidParameterInput'
  /offering/{id}:
    parameters:
      - in: path
        required: true
        name: id
        type: string
    get:
      operationId: offeringIdGet
      tags:
      - "offering"
      summary: "Display an offering"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        '200':
          description: Object found and returned
          schema:
            $ref: '#/definitions/Offering'
        '404':
          $ref: '#/responses/InvalidParameterInput'
    put:
      operationId: offeringIdPut
      tags:
      - "offering"
      summary: "Update an offering"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        '204':
          description: Accepted; No response.
        '404':
          $ref: '#/responses/InvalidParameterInput'
    delete:
      operationId: offeringIdDelete
      tags:
      - "offering"
      summary: "Delete an offering"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        '204':
          description: Removed; No response.
        '404':
          $ref: '#/responses/InvalidParameterInput'

  /profile:
    post:
      operationId: profilePost
      tags:
      - "profile"
      summary: "Add a new profile"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Offering that needs to be added"
        required: true
        schema:
          $ref: "#/definitions/Profile"
      responses:
        '200':
          description: Object found and returned
          schema:
            $ref: '#/definitions/Profile'
        '404':
          $ref: '#/responses/InvalidParameterInput'
  /profile/{id}:
    parameters:
      - in: path
        required: true
        name: id
        type: string
    get:
      operationId: profileIdGet
      tags:
      - "profile"
      summary: "Display an profile"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        '200':
          description: Object found and returned
          schema:
            $ref: '#/definitions/Profile'
        '404':
          $ref: '#/responses/InvalidParameterInput'
    put:
      operationId: profileIdPut
      tags:
      - "profile"
      summary: "Update an profile"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        '204':
          description: Accepted; No response.
        '404':
          $ref: '#/responses/InvalidParameterInput'
    delete:
      operationId: profileIdDelete
      tags:
      - "profile"
      summary: "Delete an profile"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        '204':
          description: Removed; No response.
        '404':
          $ref: '#/responses/InvalidParameterInput'
          
  /message:
    post:
      operationId: messagePost
      tags:
      - "message"
      summary: "Add a new message"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Message that needs to be added"
        required: true
        schema:
          $ref: "#/definitions/Message"
      responses:
        '200':
          description: Object found and returned
          schema:
            $ref: '#/definitions/Message'
        '404':
          $ref: '#/responses/InvalidParameterInput'
  /message/{id}:
    parameters:
      - in: path
        required: true
        name: id
        type: string
    get:
      operationId: messageIdGet
      tags:
      - "message"
      summary: "Display an message"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        '200':
          description: Object found and returned
          schema:
            $ref: '#/definitions/Message'
        '404':
          $ref: '#/responses/InvalidParameterInput'
    put:
      operationId: messageIdPut
      tags:
      - "message"
      summary: "Update an message"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        '204':
          description: Accepted; No response.
        '404':
          $ref: '#/responses/InvalidParameterInput'
    delete:
      operationId: messageIdDelete
      tags:
      - "message"
      summary: "Delete an message"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        '204':
          description: Removed; No response.
        '404':
          $ref: '#/responses/InvalidParameterInput'
    
  /feed:
    get:
      operationId: feedGet
      parameters:
        - in: query
          name: location
          required: true
          type: string
      tags:
      - "feed"
      summary: "Display a feed"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        '200':
          description: Object found and returned
          schema:
            $ref: '#/definitions/Feed'
        '404':
          $ref: '#/responses/InvalidParameterInput'
  
securityDefinitions:
  petstore_auth:
    type: "oauth2"
    authorizationUrl: "http://petstore.swagger.io/oauth/dialog"
    flow: "implicit"
    scopes:
      write:pets: "modify pets in your account"
      read:pets: "read your pets"
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
    
### RESPONSES ###
responses:
  NotFound:
    description: The specified resource was not found
    schema:
      $ref: "#/definitions/ErrorModel"
  Unauthorized:
    description: Unauthorized
    schema:
      $ref: "#/definitions/ErrorModel"          
  
  InvalidParameterInput:
    description: Invalid parameter input was passed
    schema:
      $ref: "#/definitions/InvalidParameterInput"

### DEFINITIONS ###
definitions:
  Profile:
    type: "object"
    properties:
      id:
        type: "string"
      firstname:
        type: "string"
      lastname:
        type: "string"
      email:
        type: "string"
        format: "email"
      telefon:
        type: "string"
        format: "telefon"
      address:
        type: "object"
        properties:
          street:
            type: "string"
          number:
            type: "integer"
            format: "int64"
          zip:
            type: "integer"
            format: "int64"
          city:
            type: "string"
      avatar-id:
        type: "string"
      badges:
        type: "array"
        items:
          type: "string"
    xml:
      name: "Profile"
  Message:
    type: "object"
    properties:
      id:
        type: "string"
      from-id:
        type: "integer"
        format: "int64"
      to-id:
        type: "integer"
        format: "int64"
      offering-id:
        type: "integer"
        format: "int64"
      content:
        type: "string"
      time:
        type: "string"
        format: "date-time"
      important:
        type: "boolean"
    xml:
      name: "Message"
  Offering:
    type: "object"
    properties:
      id:
        type: "string"
      name:
        type: "string"
      creator-id:
        type: "integer"
        format: "int64"
      best-by-date:
        type: "string"
        format: "date"
      location:
        type: "string"
      avatar-url:
        type: "string"
      requested-by:
        type: "integer"
        format: "int64"
    xml:
      name: "Offering"
  Feed:
    type: "array"
    items:
      $ref: '#/definitions/Offering'
    xml:
      name: "Feed"
  ErrorModel:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
  InvalidParameterInput:
    type: object
    properties:
      attribute:
        type: string
      message:
        type: string
    required:
      - attribute
      - message       